 @import url( 'https://fonts.googleapis.com/css?family=Noto Sans');
.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

    /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
    color: hsl(187, 24%, 22%);
}

body {
    background-color: hsl(227, 75%, 14%);
    color: hsl(0, 0%, 78%);
}



.header {
    max-width: 340px;
    background-color: hsl(225, 23%, 24%);
     box-shadow: 0px 3px 5px 0px hsl(224, 24%, 22%);

    margin: auto;
    margin-top: 18px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 7px 10px;
    border-radius: 13px;
}

.header svg {
    width: 150px;
}

.header input {
    background-color: hsl(226, 11%, 37%);
    padding: 10px;
    width: 40px;
    border-radius: 9px;
    align-self: center;
    justify-self: end;
}

/* .header  > input:focus {
    border: 2px solid hsl(227, 75%, 14%); 
     -webkit-box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    -moz-box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    background-color: hsl(225, 23%, 24%);

} */

#text-path {
    fill: #fff;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    gap: 9px;
    margin-bottom: 38px;
}

.extension-list-header {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 18px;
    height:95px;
}

.extension-list-header > h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.extension-list-header > .state-buttons {
    display: flex;
    padding: 0 21px;
    justify-content: space-between; 
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
}

.state-buttons  > div {
    width: 110px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.state-buttons  > div input {
    font-size: 16px;
    background-color: hsl(225, 23%, 24%);
    color: #fff;
    border: 0.7px solid hsl(226, 11%, 37%);
    /* padding: 7px 15px; */
    width: 92px;
    height: 39px;
    /* margin: 0 8px; */
    border-radius: 36px;
}

 .state-buttons  > div input:hover {
    font-weight: bold;
    cursor: pointer;
} 

.state-buttons  > div input:focus {
    border: 2px solid hsl(227, 75%, 14%); 
     -webkit-box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    -moz-box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    background-color: hsl(225, 23%, 24%);

}

.state-buttons  > div input:focus:hover {
  color: #fff;
}
.extensions {
    background-color: hsl(225, 23%, 24%);
      border: 0.7px solid hsl(226, 11%, 37%);
      box-shadow: 0px 3px 5px 0px hsl(224, 24%, 22%);
      border-radius: 17px;
      padding-top: 16px;
       padding-left: 16px;
        padding-right: 16px;
         padding-bottom:  0px;
       max-width: 340px;
       margin: 0 auto;
       display: grid;
     grid-template-rows: auto 50px;
}

.extension-description {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}

.extension-description > img {
    align-self: start;
    width: 46px;
}

.extension-description > .extension-text {
    padding-left:  13px;
}

.extension-text > h3 {
    font-size: var(--step--1);
    color: #fff;
    margin-bottom: 4px;
}

.extension-text > p {
    font-size: var(--step--2);
    color: hsl(0, 0%, 78%);
}

.extension-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
    height: 50px;
}
.extension-buttons  > div {
    height: 50px;
  display: flex;
  align-items: center;
}
.extension-buttons  > div .remove-button {
    font-size: 12px;
    background-color: hsl(225, 23%, 24%);
    color: #fff;
    border: 0.7px solid hsl(226, 11%, 37%);
    padding: 4px 10px;
    border-radius: 36px;
}
 .extension-buttons  > div .remove-button:hover {
   
    font-weight: bold;
    cursor: pointer;
} 

.extension-buttons  > div input:focus {
    border: 2px solid hsl(227, 75%, 14%); 
     -webkit-box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    -moz-box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    background-color: hsl(225, 23%, 24%);

}

.extension-buttons  > div .remove-button:focus:hover {
  color: #fff;
}

/*  Toggle */
.switch {
  position: relative;
  display: inline-block;
    width: 34px;
  height: 18px;
  align-self: center;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(226, 11%, 37%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  top: 50%; 
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
    transform:translateY(-50%);
}

input:checked + .slider {
  background-color: hsl(3, 71%, 56%);
}

input:focus + .slider {
    border: 2px solid transparent; 
     -webkit-box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    -moz-box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
    box-shadow: 0px 0px 0px 2px hsl(3, 71%, 56%);
}

input:checked + .slider:before {
  -webkit-transform: translate(17px, -50%);
  -ms-transform: translate(17px, -50%);
  transform: translate(17px, -50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: hsl(3, 71%, 56%);
}

/* Tablet view */
@media only screen and (min-width:640px) {

    .header {
        max-width: 690px;

}

    .main-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 690px;
}

.extension-list-header {
    grid-column: 1 / span 2;
    grid-template-columns: auto auto;
   height:45px;
}


.extension-list-header > h1 {
text-align: left;
align-content: center;
font-size: 25px;
}

.extension-list-header > .state-buttons {
    display: flex;
    /* padding: 0px 0px 21px 0px; */
    padding-right: 0px;
    justify-content: space-between; 
    margin-top: 0px;
    margin-right: 0px;
    max-width: 340px;

}

.extension-description {

    margin-bottom: 28px;
}
}

/* Desktop view */
@media only screen and (min-width:1200px) { 

.main-grid {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 940px;
}

.extension-list-header {
    grid-column: 1 / span 3;
    grid-template-columns: auto auto;
   height:45px;
}

.extension-description {

    margin-bottom: 35px;
}

   .header {
        max-width: 940px;

}
}