 @import url( 'https://fonts.googleapis.com/css?family=Noto Sans');
.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

    /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
    color: hsl(187, 24%, 22%);
}

body {
    background-color: hsl(227, 75%, 14%);
    color: hsl(0, 0%, 78%);
}



.header {
    background-color: hsl(225, 23%, 24%);
    /* width: 330px; */
    width: 90vw;
    margin: auto;
    margin-top: 18px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 7px 10px;
    border-radius: 13px;
}

.header svg {
    width: 150px;
}

.header input {
    background-color: hsl(226, 11%, 37%);
    padding: 10px;
    width: 40px;
    border-radius: 9px;
    align-self: center;
    justify-self: end;
}

#text-path {
    fill: #fff;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    gap: 9px;
}

.extension-list-header {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 18px;
}

.extension-list-header > h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.extension-list-header > .state-buttons {
    display: flex;
    padding: 0 21px;
    justify-content: space-between;
    margin-top: 16px;
}

.state-buttons  > input {
    font-size: 16px;
    background-color: hsl(225, 23%, 24%);
    color: #fff;
    border: 0.7px solid hsl(226, 11%, 37%);
    padding: 10px 15px;
    border-radius: 36px;
}

.state-buttons  > input:hover {
    background-color: hsl(3, 71%, 56%);
    color: hsl(225, 23%, 24%);
    font-weight: bold;
    cursor: pointer;
}

.extensions {
    background-color: hsl(225, 23%, 24%);
      border: 0.7px solid hsl(226, 11%, 37%);
      border-radius: 17px;
      padding: 16px;
}

.extension-description {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.extension-description > img {
    align-self: start;
    width: 46px;
}

.extension-description > .extension-text {
    padding-left:  13px;
}

.extension-text > h3 {
    font-size: 15px;
    color: #fff;
}

.extension-text > p {
      font-size: 12px;
    color: hsl(0, 0%, 78%);
}